.header {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.header h2 {
  font-size: 30px;
  background-color: aqua;
  padding: 0 15px;
}
.mole-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  max-width: 98%;
  margin: 0 auto;
  border: 1px solid black;
}

.mole-container > div {
  width: 32%;

}